body{
	font-family: 'Jockey One', sans-serif;
    background-color: black;
}

#kanaCanvas{
	top: 40%;
	left: 50%;
	margin-left: -500px;	/*negtive half of the width of the canvas*/
	margin-top: -250px;		/*negtive half of the height of the canvas*/
	position: absolute;
	padding: 0;
}

#userInput{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#userInput > input{
    border: 0px;
    font-size: 14pt;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: bottom;
}

.btn{
    background-color: white;
    color: black;
    padding: 0;
    border: 0px;
    font-family: inherit;
    width: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn:hover{
    background-color: grey;
    cursor: pointer;
}

#userInput > button{
    font-size: 1.072em;
    vertical-align: bottom;
}

#advanced{
    color: white;
    float: left;
}


input:-ms-input-placeholder {
   font-size: 10pt;
   font-family: 'Jockey One', sans-serif;
}


input::-webkit-input-placeholder {
   font-size: 10pt;
   font-family: 'Jockey One', sans-serif;
}


input:-moz-placeholder {
    font-size: 10pt;
    font-family: 'Jockey One', sans-serif;
}

#advancedOptions{
    float: left;
    clear: both;
    margin-top: 10px;
}

#resetBtn, #animationSelector, #defaultAnimationOptions{
    float: left;
    clear: both;
    margin-top: 10px;
}

#defaultAnimationOptions label{
    display: inline-block;
    width: 150px;
}

#animationSelector label{
    display: inline-block;
    width: 150px;
}

#resetBtn{
    margin-left: 40%;
}